Repository orzechowskid/danorz.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint -q, tsc --noEmit

Update README.md
  README.md
Due: none

fix some translation stuff
  packages/frontend/public/utils/useI18n.js
  packages/translations/src/en-US.json
Due: eslint --fix, jsonlint -q

fix fetching of dictionary and session
  packages/frontend/public/utils/useI18n.js
  packages/frontend/public/utils/useSession.js
Due: eslint --fix

fix site menu (again)
  packages/frontend/public/components/SiteMenu.js
Due: eslint --fix

lots of style and linter fixes
  packages/frontend/public/components/MarkdownPreviewPane.js
  packages/frontend/public/components/ModalDialog.js
  packages/frontend/public/components/ModalDialog.module.css
  packages/frontend/public/components/Textarea.js
  packages/frontend/public/components/Textarea.module.css
  packages/frontend/public/pages/blog/components/EditPostDialog.js
  packages/frontend/public/pages/blog/index.js
  packages/frontend/public/pages/blog/post.js
  packages/frontend/public/pages/blog/utils/useBlogPost.js
  packages/frontend/public/pages/blog/utils/useBlogPostComments.js
  packages/frontend/public/theme.css
  packages/frontend/public/utils/useSiteSettings.js
Due: eslint --fix

cleanup
  packages/frontend/public/pages/blog/post.js
Due: eslint --fix

stop linter from complaining about css modules files
  packages/frontend/public/@types/global.d.ts
Due: tsc --noEmit

add dto package and move some TS stuff into there
  package-lock.json
  package.json
  packages/backend/package-lock.json
  packages/backend/src/db/mongo/posts.js
  packages/backend/tsconfig.json
  packages/dto/index.d.ts
  packages/dto/package.json
  packages/frontend/package-lock.json
  packages/frontend/public/t.d.ts
  packages/translations/package-lock.json
Due: eslint --fix, jsonlint -q, tsc --noEmit

replace express with koa
  package-lock.json
  packages/backend/bin/index.dev.js
  packages/backend/bin/index.js
  packages/backend/package.json
  packages/backend/src/api/analyticsRoutes.js
  packages/backend/src/api/authRoutes.js
  packages/backend/src/api/blogRoutes.js
  packages/backend/src/api/contentRoutes.js
  packages/backend/src/api/envRoutes.js
  packages/backend/src/api/i18nRoutes.js
  packages/backend/src/api/index.js
  packages/backend/src/api/linkpreview.js
  packages/backend/src/api/privateRoutes.js
  packages/backend/src/api/utils.js
  packages/backend/src/db/index.js
  packages/backend/src/db/mongo/comments.js
  packages/backend/src/db/mongo/content.js
  packages/backend/src/db/mongo/galleries.js
  packages/backend/src/db/mongo/galleryitems.js
  packages/backend/src/db/mongo/index.js
  packages/backend/src/db/mongo/linkpreview.js
  packages/backend/src/db/mongo/posts.js
  packages/backend/src/db/mongo/settings.js
  packages/backend/src/db/mongo/user.js
  packages/backend/src/db/mongo/utils.js
  packages/backend/src/index.js
  packages/backend/src/t.d.ts
  packages/backend/tsconfig.json
  packages/backend/webpack.config.dev.js
  packages/dto/index.d.ts
  packages/frontend/public/index.js
Due: eslint --fix, jsonlint -q, tsc --noEmit

cleanup
  package-lock.json
  packages/backend/package.json
Due: jsonlint -q

cleanup
  packages/backend/src/db/mongo/galleries.js
  packages/backend/src/db/mongo/galleryitems.js
Due: eslint --fix

fix some typings; update the analytics POST endpoint
  packages/backend/src/api/analyticsRoutes.js
  packages/backend/src/db/mongo/index.d.ts
  packages/backend/src/db/mongo/user.js
  packages/backend/src/index.js
  packages/backend/src/t.d.ts
  packages/dto/index.d.ts
Due: eslint --fix, tsc --noEmit

checkpoint
  packages/frontend/public/components/Busy.js
  packages/frontend/public/t.d.ts
  packages/frontend/typings/react.d.ts
  tsconfig.json
Due: eslint --fix, jsonlint -q, tsc --noEmit

checkpoint
  packages/frontend/@types/react/index.d.ts
Due: tsc --noEmit

cleanup
  packages/frontend/@types/react/index.d.ts
  packages/frontend/public/components/Footer.js
  packages/frontend/public/components/GlobalToast.module.css
  packages/frontend/typings/react.d.ts
Due: eslint --fix, tsc --noEmit

fix bootstrap script
  tools/bootstrap.sh
Due: none

add back the #main selector
  packages/frontend/public/index.js
Due: eslint --fix

checkpoint
  .eslintrc.base.json
  babel.config.json
  package-lock.json
  package.json
  packages/backend/.eslintrc.json
  packages/backend/src/api/envRoutes.js
  packages/backend/src/api/privateRoutes.js
  packages/backend/src/t.d.ts
  packages/dto/index.d.ts
  packages/frontend/.eslintrc.json
  packages/frontend/package.json
  packages/frontend/public/components/LinkPreview.js
  packages/frontend/public/components/SiteBanner.js
  packages/frontend/public/pages/about/index.js
  packages/frontend/public/pages/blog/components/EditPostDialog.js
  packages/frontend/public/pages/blog/index.js
  packages/frontend/public/pages/blog/post.js
  packages/frontend/public/pages/blog/utils/useBlogPost.js
  packages/frontend/public/pages/home/components/PublicHome.js
  packages/frontend/public/pages/home/index.js
  packages/frontend/public/t.d.ts
  packages/frontend/public/utils/api.js
  packages/frontend/public/utils/dataCache.js
  packages/frontend/public/utils/useI18n.js
  packages/frontend/public/utils/useRemoteData.js
  packages/frontend/public/utils/useSession.js
  packages/frontend/public/utils/useSiteSettings.js
Due: eslint --fix, jsonlint -q, tsc --noEmit

remove padding from layout component; fix footer background width and color
  packages/frontend/public/components/Footer.js
  packages/frontend/public/components/Footer.module.css
  packages/frontend/public/components/Layout.module.css
Due: eslint --fix

some page-level cleanup
  packages/frontend/public/components/Busy.js
  packages/frontend/public/components/Page.js
  packages/frontend/public/components/PageTitle.js
  packages/frontend/public/pages/blog/components/SinglePost.js
  packages/frontend/public/pages/blog/index.js
Due: eslint --fix

fix session mgmt, probably some other stuff
  package-lock.json
  packages/backend/src/api/authRoutes.js
  packages/backend/src/api/envRoutes.js
  packages/backend/src/api/index.js
  packages/backend/src/api/utils.js
  packages/backend/src/db/mongo/index.js
  packages/backend/src/db/mongo/settings.js
  packages/backend/src/index.js
  packages/backend/src/t.d.ts
  packages/dto/index.d.ts
  packages/frontend/package.json
  packages/frontend/public/components/Header.js
  packages/frontend/public/components/Input.js
  packages/frontend/public/index.js
  packages/frontend/public/pages/home/components/PrivateHome.js
  packages/frontend/public/pages/home/index.js
  packages/frontend/public/t.d.ts
  packages/frontend/public/utils/useSession.js
  packages/frontend/public/utils/useSiteSettings.js
  packages/translations/src/en-US.json
Due: eslint --fix, jsonlint -q, tsc --noEmit

koa -> express ; mongo -> redis (for session storage)
  .env.local
  docker-compose.yml
  package-lock.json
  packages/backend/bin/index.dev.js
  packages/backend/bin/index.js
  packages/backend/package.json
  packages/backend/src/api/analyticsRoutes.js
  packages/backend/src/api/authRoutes.js
  packages/backend/src/api/blogRoutes.js
  packages/backend/src/api/contentRoutes.js
  packages/backend/src/api/envRoutes.js
  packages/backend/src/api/i18nRoutes.js
  packages/backend/src/api/index.js
  packages/backend/src/api/linkpreview.js
  packages/backend/src/api/privateRoutes.js
  packages/backend/src/api/utils.js
  packages/backend/src/db/mongo/index.js
  packages/backend/src/index.js
  packages/backend/src/t.d.ts
  packages/backend/tsconfig.json
  tools/sessiondb/.storage/appendonly.aof
  tools/sessiondb/Dockerfile
Due: eslint --fix, jsonlint -q, tsc --noEmit

fix service deps
  docker-compose.yml
Due: none

cleanup
  tools/sessiondb/.storage/appendonly.aof
Due: none

cleanup
  tools/sessiondb/.gitignore
Due: none

site settings read/write
  packages/backend/src/api/envRoutes.js
  packages/backend/src/api/utils.js
  packages/backend/src/db/mongo/settings.js
  packages/frontend/public/components/GlobalToast.module.css
  packages/frontend/public/global.css
  packages/frontend/public/utils/useI18n.js
  packages/frontend/public/utils/useRemoteData.js
  packages/frontend/public/utils/useSession.js
  packages/frontend/public/utils/useSiteSettings.js
  tools/sessiondb/.storage/dump.rdb
Due: eslint --fix

not needed
  tools/sessiondb/.storage/dump.rdb
Due: none

update gitignore
  tools/sessiondb/.gitignore
Due: none

Update README.md
  tools/README.md
Due: none

one more backend env var
  docker-compose.yml
Due: none

checkpoint
  .env.local
  docker-compose.yml
  package-lock.json
  packages/backend/Dockerfile
  packages/backend/package.json
  packages/backend/src/api/galleryRoutes.js
  packages/backend/src/api/index.js
  packages/backend/src/api/utils.js
  packages/backend/src/db/mongo/galleries.js
  packages/backend/src/db/mongo/galleryitems.js
  packages/backend/src/db/mongo/index.js
  packages/backend/src/index.js
  packages/backend/src/media/index.js
  packages/backend/src/storage/aws-s3/index.js
  packages/backend/src/storage/index.js
  packages/backend/src/t.d.ts
  packages/backend/src/types.js
  packages/backend/tsconfig.json
  packages/frontend/public/components/Busy.js
  packages/frontend/public/components/Footer.js
  packages/frontend/public/index.js
  packages/frontend/public/pages/blog/index.js
  packages/frontend/public/pages/photos/gallery.js
  packages/frontend/public/pages/photos/index.js
  packages/frontend/public/t.d.ts
  packages/frontend/public/utils/api.js
  packages/frontend/public/utils/useI18n.js
  packages/frontend/public/utils/useRemoteData.js
  packages/frontend/public/utils/useSiteSettings.js
  packages/frontend/tsconfig.json
  packages/translations/src/en-US.json
  tools/@types/md5.js/index.d.ts
  tools/gateway/Dockerfile
  tools/gateway/nginx.conf
  up.sh
Due: eslint --fix, jsonlint -q, tsc --noEmit

just pop open a new tab for now
  packages/frontend/public/pages/photos/gallery.js
Due: eslint --fix

separate rawness of request and response
  packages/backend/src/api/galleryRoutes.js
  packages/frontend/public/pages/photos/gallery.js
  packages/frontend/public/utils/useI18n.js
  packages/frontend/public/utils/useRemoteData.js
  packages/frontend/public/utils/useSiteSettings.js
Due: eslint --fix

(try to) fix first-run docker volume perms issues
  docker-compose.yml
  tools/localdb/.gitignore
  tools/localdb/data/dump/alewife-cms/galleries.bson
  tools/localdb/data/dump/alewife-cms/galleries.metadata.json
  tools/localdb/data/dump/alewife-cms/linkpreviews.bson
  tools/localdb/data/dump/alewife-cms/linkpreviews.metadata.json
  tools/localdb/data/dump/alewife-cms/posts.bson
  tools/localdb/data/dump/alewife-cms/posts.metadata.json
  tools/localdb/data/dump/alewife-cms/settings.bson
  tools/localdb/data/dump/alewife-cms/settings.metadata.json
  tools/localdb/data/dump/alewife-cms/text.bson
  tools/localdb/data/dump/alewife-cms/text.metadata.json
  tools/localdb/data/dump/alewife-cms/users.bson
  tools/localdb/data/dump/alewife-cms/users.metadata.json
  tools/localdb/data/export.sh
  tools/localdb/data/galleries.metadata.json
  tools/localdb/data/import.sh
  tools/localdb/data/linkpreviews.metadata.json
  tools/localdb/data/posts.metadata.json
  tools/localdb/data/text.metadata.json
  tools/localdb/data/users.metadata.json
  tools/sessiondb/.gitignore
Due: jsonlint -q

fix localdb bootstrap script; update some env vars
  .env.local
  docker-compose.yml
  packages/backend/src/db/mongo/index.js
  tools/bootstrap-localdb.sh
Due: eslint --fix

add sessiondb bootstrapping
  tools/bootstrap-sessiondb.sh
  tools/bootstrap.sh
Due: none

support infinite cache lifetimes
  packages/frontend/public/components/LinkPreview.js
  packages/frontend/public/utils/dataCache.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  jsonlint -q: any of: *.json
  tsc --noEmit: any of: *.ts
