Repository orzechowskid/danorz.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint -q, tsc --noEmit

.lintstagedrc.json:

{
  "*.{js,jsx}": "eslint --fix",
  "*.json": "jsonlint -q",
  "*.ts": "tsc --noEmit"
}

CA stuff
  tools/fake-ca/README.md
  tools/fake-ca/ca/openssl.cnf
  tools/fake-ca/domains/local.host/local.host.crt
  tools/fake-ca/domains/local.host/local.host.csr
  tools/fake-ca/domains/local.host/local.host.key
  tools/fake-ca/domains/local.host/local.host.req.config
  tools/fake-ca/myCA.key
  tools/fake-ca/myCA.pem
  tools/fake-ca/myCA.srl
  tools/fake-ca/openssl.cnf
  tools/fake-ca/regen.sh
  tools/fake-ca/root-ca/openssl.cnf
Due: none

root CA updates
  tools/fake-ca/regen.sh
  tools/fake-ca/root-ca/crt.pem
  tools/fake-ca/root-ca/index.txt
  tools/fake-ca/root-ca/index.txt.attr
  tools/fake-ca/root-ca/index.txt.old
  tools/fake-ca/root-ca/key.pem
  tools/fake-ca/root-ca/newcerts/1001.pem
  tools/fake-ca/root-ca/openssl.cnf
  tools/fake-ca/root-ca/serial
  tools/fake-ca/root-ca/serial.old
Due: none

checkpoint
  tools/fake-ca/root-ca/index.txt
  tools/fake-ca/root-ca/index.txt.attr
  tools/fake-ca/root-ca/index.txt.old
  tools/fake-ca/root-ca/newcerts/1001.pem
  tools/fake-ca/root-ca/serial
  tools/fake-ca/root-ca/serial.old
Due: none

checkpoint
  tools/fake-ca/root-ca/crt.pem
  tools/fake-ca/root-ca/key.pem
Due: none

checkpoint
  tools/fake-ca/openssl.cnf
  tools/fake-ca/regen.sh
Due: none

generate cerver cert
  tools/fake-ca/regen.sh
Due: none

fix typo
  tools/fake-ca/ca/openssl.cnf
  tools/fake-ca/regen.sh
Due: none

provide common name
  tools/fake-ca/regen.sh
Due: none

fix string format
  tools/fake-ca/regen.sh
Due: none

update path to certs
  tools/gateway/Dockerfile
  tools/gateway/nginx.conf
Due: none

update openssl.cnf
  tools/fake-ca/ca/crt.pem
  tools/fake-ca/ca/key.pem
  tools/fake-ca/ca/openssl.cnf
  tools/fake-ca/domains/local.host/crt.pem
  tools/fake-ca/domains/local.host/csr.pem
  tools/fake-ca/domains/local.host/key.pem
  tools/fake-ca/openssl.cnf
  tools/fake-ca/regen.sh
  tools/fake-ca/root-ca/openssl.cnf
Due: none

gitignore for stuff we do not need
  tools/fake-ca/.gitignore
Due: none

update readme
  tools/fake-ca/README.md
Due: none

Chore/ca wrangling (#49)
  tools/fake-ca/.gitignore
  tools/fake-ca/README.md
  tools/fake-ca/ca/crt.pem
  tools/fake-ca/ca/key.pem
  tools/fake-ca/domains/local.host/crt.pem
  tools/fake-ca/domains/local.host/csr.pem
  tools/fake-ca/domains/local.host/key.pem
  tools/fake-ca/domains/local.host/local.host.crt
  tools/fake-ca/domains/local.host/local.host.csr
  tools/fake-ca/domains/local.host/local.host.key
  tools/fake-ca/domains/local.host/local.host.req.config
  tools/fake-ca/myCA.key
  tools/fake-ca/myCA.pem
  tools/fake-ca/myCA.srl
  tools/fake-ca/openssl.cnf
  tools/fake-ca/regen.sh
  tools/gateway/Dockerfile
  tools/gateway/nginx.conf
Due: none

get frontend builds working (non-ssr)
  package-lock.json
  packages/frontend/package.json
  packages/frontend/public/components/ModalDialog.js
  packages/frontend/public/components/SiteMenu.js
  packages/frontend/public/index.js
Due: eslint --fix, jsonlint -q

get frontend builds working (non-ssr) (#50)
  package-lock.json
  packages/frontend/package.json
  packages/frontend/public/components/ModalDialog.js
  packages/frontend/public/components/SiteMenu.js
  packages/frontend/public/index.js
Due: eslint --fix, jsonlint -q

start replacing react-aria
  package-lock.json
  packages/frontend/package.json
  packages/frontend/public/components/ModalDialog.js
  packages/frontend/public/components/ModalDialog.module.css
  packages/frontend/public/components/Portal.js
  packages/frontend/public/components/SiteMenu.js
  packages/frontend/public/global.css
  packages/frontend/public/index.html
  packages/frontend/public/index.js
  packages/frontend/public/pages/about/index.js
  packages/frontend/public/t.d.ts
  packages/frontend/public/utils/useContainFocus.js
  packages/frontend/public/utils/useSiteSettings.js
  packages/frontend/wmr.config.mjs
Due: eslint --fix, jsonlint -q, tsc --noEmit

useStateIfMounted
  packages/frontend/public/components/ModalDialog.js
  packages/frontend/public/components/SignInForm.js
  packages/frontend/public/components/SiteMenu.js
  packages/frontend/public/utils/useSession.js
  packages/frontend/public/utils/useStateWhenMounted.js
Due: eslint --fix

explanatory comment
  packages/frontend/public/components/SignInForm.js
Due: eslint --fix

rm empty file
  packages/frontend/public/utils/useContainFocus.js
Due: eslint --fix

cleanup
  package-lock.json
  packages/frontend/package.json
Due: jsonlint -q

Create node.js.yml
  .github/workflows/node.js.yml
Due: none

Chore/focus container (#51)
  package-lock.json
  packages/frontend/package.json
  packages/frontend/public/components/ModalDialog.js
  packages/frontend/public/components/ModalDialog.module.css
  packages/frontend/public/components/Portal.js
  packages/frontend/public/components/SignInForm.js
  packages/frontend/public/components/SiteMenu.js
  packages/frontend/public/global.css
  packages/frontend/public/index.html
  packages/frontend/public/index.js
  packages/frontend/public/pages/about/index.js
  packages/frontend/public/t.d.ts
  packages/frontend/public/utils/useSession.js
  packages/frontend/public/utils/useSiteSettings.js
  packages/frontend/public/utils/useStateWhenMounted.js
  packages/frontend/wmr.config.mjs
Due: eslint --fix, jsonlint -q, tsc --noEmit

install jest
  README.md
  package-lock.json
  package.json
Due: jsonlint -q

skeleton test to see if the github action works
  package-lock.json
  package.json
  packages/frontend/package.json
  packages/frontend/public/utils/analytics.js
  packages/frontend/public/utils/dataCache.test.js
  packages/frontend/public/utils/getSet.js
Due: eslint --fix, jsonlint -q

mess around with name of action
  .github/workflows/node.js.yml
Due: none

install jest (#52)
  .github/workflows/node.js.yml
  README.md
  package-lock.json
  package.json
  packages/frontend/package.json
  packages/frontend/public/utils/analytics.js
  packages/frontend/public/utils/dataCache.test.js
  packages/frontend/public/utils/getSet.js
Due: eslint --fix, jsonlint -q

initial test
  .lintstagedrc.json
  babel.config.json
  jest.config.js
  package-lock.json
  package.json
  packages/frontend/.eslintrc.json
  packages/frontend/@types/react/index.d.ts
  packages/frontend/jest.config.js
  packages/frontend/public/index.js
  packages/frontend/public/utils/dataCache.test.js
  packages/frontend/tsconfig.json
Due: eslint --fix, jsonlint -q, tsc --noEmit

initial test
  .lintstagedrc.json
Due: jsonlint -q

more test tooling updates
  .eslintrc.base.json
  package-lock.json
  package.json
  packages/frontend/.eslintrc.json
  packages/frontend/public/utils/dataCache.test.js
Due: eslint --fix, jsonlint -q

rename some config files so linting works everywhere
  .eslintrc.json
  .lintstagedrc.json
  jest.config.js
  packages/backend/.eslintrc.json
  packages/frontend/.eslintrc.json
  packages/frontend/public/utils/dataCache.test.js
Due: eslint --fix, jsonlint -q

cleanup
  .lintstagedrc.json
  packages/frontend/jest.config.js
Due: eslint --fix, jsonlint -q

Chore/jest (#53)
  .eslintrc.json
  babel.config.json
  jest.config.js
  package-lock.json
  package.json
  packages/backend/.eslintrc.json
  packages/frontend/.eslintrc.json
  packages/frontend/@types/react/index.d.ts
  packages/frontend/jest.config.js
  packages/frontend/public/index.js
  packages/frontend/public/utils/dataCache.test.js
  packages/frontend/tsconfig.json
Due: eslint --fix, jsonlint -q, tsc --noEmit

checkpoint
  packages/backend/src/api/index.js
  packages/backend/src/api/socialRoutes.js
  packages/frontend/public/components/Busy.js
  packages/frontend/public/components/PrivateRoute.js
  packages/frontend/public/components/Section.js
  packages/frontend/public/index.js
  packages/frontend/public/pages/home/components/PrivateHome.js
  packages/frontend/public/pages/photos/index.js
  packages/frontend/public/pages/settings/index.js
  packages/frontend/public/utils/useRemoteData.js
  packages/frontend/public/utils/useSession.js
  packages/frontend/public/utils/useSiteSettings.js
  packages/frontend/public/utils/useStateWhenMounted.js
Due: eslint --fix

initial unit tests (plus some bugfixes!)
  babel.config.json
  jest.config.js
  package-lock.json
  package.json
  packages/frontend/__tests__/index.js
  packages/frontend/jest.config.js
  packages/frontend/package.json
  packages/frontend/public/index.js
  packages/frontend/public/utils/api.js
  packages/frontend/public/utils/useRemoteData.js
  packages/frontend/public/utils/useSession.js
  packages/frontend/public/utils/useSession.test.js
Due: eslint --fix, jsonlint -q

fix dir name for CI test runner (?)
  packages/frontend/__test-setup__/index.js
  packages/frontend/jest.config.js
Due: eslint --fix

Chore/misc updates (#54)
  babel.config.json
  jest.config.js
  package-lock.json
  package.json
  packages/backend/src/api/index.js
  packages/backend/src/api/socialRoutes.js
  packages/frontend/__test-setup__/index.js
  packages/frontend/jest.config.js
  packages/frontend/package.json
  packages/frontend/public/components/Busy.js
  packages/frontend/public/components/PrivateRoute.js
  packages/frontend/public/components/Section.js
  packages/frontend/public/index.js
  packages/frontend/public/pages/home/components/PrivateHome.js
  packages/frontend/public/pages/photos/index.js
  packages/frontend/public/pages/settings/index.js
  packages/frontend/public/utils/api.js
  packages/frontend/public/utils/useRemoteData.js
  packages/frontend/public/utils/useSession.js
  packages/frontend/public/utils/useSession.test.js
  packages/frontend/public/utils/useSiteSettings.js
  packages/frontend/public/utils/useStateWhenMounted.js
Due: eslint --fix, jsonlint -q

don't forget about docker-compose
  README.md
Due: none

initial scaffolding for feature
  packages/backend/src/api/socialRoutes.js
  packages/backend/src/db/mongo/index.js
  packages/backend/src/db/mongo/peer-requests.js
  packages/backend/src/db/mongo/utils.js
  packages/backend/src/t.d.ts
  packages/backend/src/utils.js
  packages/dto/index.d.ts
  packages/frontend/public/pages/home/components/PrivateHome.js
Due: eslint --fix, tsc --noEmit
