Repository orzechowskid/danorz.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint -q

checkpoint
  .env.local
  packages/frontend/public/global.css
  packages/frontend/public/pages/blog/components/Byline.js
  packages/frontend/public/pages/blog/components/Byline.module.css
  packages/frontend/public/pages/blog/components/Comments.js
  packages/frontend/public/pages/blog/components/Comments.module.css
  packages/frontend/public/pages/blog/components/SinglePost.module.css
  packages/frontend/public/pages/blog/index.js
  packages/frontend/public/pages/blog/index.module.css
  packages/frontend/public/pages/blog/post.js
  packages/frontend/public/pages/blog/post.module.css
  packages/frontend/public/theme.css
  packages/translations/src/en-US.json
Due: eslint --fix, jsonlint -q

remove unneeded dep
  .simple-git-hooks.json
  package-lock.json
  package.json
Due: jsonlint -q

checkpoint
  packages/frontend/public/pages/blog/post.js
Due: eslint --fix

checkpoint
  .eslintrc.json
  packages/frontend/public/components/Busy.js
  packages/frontend/public/components/Busy.module.css
  packages/frontend/public/components/Header.module.css
  packages/frontend/public/global.css
  packages/frontend/public/pages/blog/components/Comments.js
  packages/frontend/public/pages/blog/components/Comments.module.css
  packages/frontend/public/pages/blog/components/SinglePost.module.css
  packages/frontend/public/pages/blog/index.js
  packages/frontend/public/pages/blog/post.js
  packages/frontend/public/theme.css
  packages/frontend/public/types.js
  packages/frontend/public/utils/useRemoteData.js
  packages/translations/src/en-US.json
Due: eslint --fix, jsonlint -q

good enough for now
  packages/frontend/package-lock.json
  packages/frontend/public/components/PageTitleContainer.js
  packages/frontend/public/index.html
  packages/frontend/public/pages/about/index.js
  packages/frontend/public/pages/blog/components/Byline.js
  packages/frontend/public/pages/blog/post.js
  packages/frontend/public/utils/useI18n.js
Due: eslint --fix, jsonlint -q

update inter-comment spacing
  packages/frontend/public/pages/blog/components/Comments.js
  packages/frontend/public/pages/blog/components/Comments.module.css
  packages/frontend/public/pages/blog/post.js
  packages/translations/src/en-US.json
Due: eslint --fix, jsonlint -q

bootstrap local db data
  tools/localdb/data/linkpreviews.bson
  tools/localdb/data/linkpreviews.metadata.json
  tools/localdb/data/sessions.bson
  tools/localdb/data/sessions.metadata.json
  tools/localdb/data/users.bson
  tools/localdb/data/users.metadata.json
Due: jsonlint -q

no need for sessions collection
  tools/localdb/data/sessions.bson
  tools/localdb/data/sessions.metadata.json
Due: jsonlint -q

localdb setup updates
  package.json
  tools/bootstrap-localdb.sh
  tools/bootstrap.sh
Due: jsonlint -q

restore dumped data
  tools/bootstrap-localdb.sh
Due: none

get localdb bootstrapping working
  tools/bootstrap-localdb.sh
  tools/bootstrap.sh
Due: none

how about a README
  README.md
Due: none

Update README.md
  README.md
Due: none

ensure modal dialogs are above header and banner
  packages/frontend/public/global.css
Due: none

specify module for backend
  packages/backend/package.json
Due: jsonlint -q

package.json cleanup
  packages/translations/package.json
Due: jsonlint -q

update package.json
  packages/translations/package-lock.json
Due: jsonlint -q

get onboarding process working better
  docker-compose.yml
  tools/bootstrap-localdb.sh
  tools/bootstrap.sh
Due: none

update readme to reflect bootstrap changes
  README.md
Due: none

add 'type:module' to Docker package.json
  packages/backend/Dockerfile
  packages/backend/package.json
Due: jsonlint -q

add more example data to db; improve bootstrapping process
  README.md
  tools/bootstrap-localdb.sh
  tools/bootstrap.sh
  tools/localdb/data/galleries.bson
  tools/localdb/data/galleries.metadata.json
  tools/localdb/data/linkpreviews.bson
  tools/localdb/data/linkpreviews.metadata.json
  tools/localdb/data/posts.bson
  tools/localdb/data/posts.metadata.json
  tools/localdb/data/text.bson
  tools/localdb/data/text.metadata.json
  up.sh
Due: jsonlint -q

undo some doin'
  tools/bootstrap-localdb.sh
  tools/bootstrap.sh
Due: none

update sample db data
  tools/localdb/data/text.bson
Due: none

update readme
  README.md
Due: none

update test db data
  tools/localdb/data/text.bson
Due: none

better linkpreview data
  tools/localdb/data/linkpreviews.bson
  tools/localdb/data/linkpreviews.metadata.json
Due: jsonlint -q

various typing and node-specific cleanup
  packages/backend/src/db/mongo/utils.js
  packages/backend/src/types.js
  packages/frontend/public/components/SiteBanner.js
  packages/frontend/public/state/banner.js
  packages/frontend/public/utils/localStorage.js
Due: eslint --fix

no need to call usePageTitle directly, let the component do it
  packages/frontend/public/components/Markdown.module.css
  packages/frontend/public/components/PageTitleContainer.js
  packages/frontend/public/pages/about/index.js
  packages/frontend/public/pages/blog/index.js
  packages/frontend/public/pages/blog/post.js
  packages/frontend/public/utils/helpers.js
  packages/frontend/public/utils/usePageTitle.js
  packages/translations/src/en-US.json
Due: eslint --fix, jsonlint -q

updates
  packages/frontend/public/components/PageTitleContainer.js
Due: eslint --fix

checkpoint
  packages/frontend/public/components/PageTitleContainer.js
Due: eslint --fix

fix linting of staged files?
  tools/bootstrap.sh
  tools/git-hooks/pre-commit
Due: none

update styling for code blocks
  packages/frontend/public/components/Markdown.js
  packages/frontend/public/global.css
Due: eslint --fix

checkpoint
  packages/backend/src/api/contentRoutes.js
  packages/backend/src/api/privateRoutes.js
  packages/backend/src/db/mongo/content.js
  packages/backend/src/db/mongo/index.js
  packages/backend/src/db/mongo/settings.js
  packages/backend/src/types.js
  packages/frontend/package-lock.json
  packages/frontend/public/components/Header.js
  packages/frontend/public/components/LinkPreview.js
  packages/frontend/public/components/LocaleMenu.js
  packages/frontend/public/components/PageTitleContainer.js
  packages/frontend/public/components/PrivateRoute.js
  packages/frontend/public/components/SiteBanner.js
  packages/frontend/public/components/SiteMenu.js
  packages/frontend/public/index.js
  packages/frontend/public/pages/about/index.js
  packages/frontend/public/pages/settings/components/CollapsibleSection.js
  packages/frontend/public/pages/settings/components/CollapsibleSection.module.css
  packages/frontend/public/pages/settings/index.js
  packages/frontend/public/state/i18n.js
  packages/frontend/public/state/settings.js
  packages/frontend/public/utils/api.js
  packages/frontend/public/utils/localStorage.js
  packages/frontend/public/utils/useI18n.js
  packages/frontend/public/utils/useRemoteData.js
  packages/frontend/public/utils/useSession.js
  packages/frontend/public/utils/useSiteBanner.js
  packages/translations/src/en-US.json
Due: eslint --fix, jsonlint -q

add strikethrough support for markdown blocks
  packages/frontend/public/components/Markdown.js
  packages/frontend/public/components/Markdown.module.css
  packages/frontend/public/utils/markdown.js
Due: eslint --fix

add some busy indicators
  packages/frontend/public/index.js
  packages/frontend/public/pages/blog/index.js
  packages/frontend/public/utils/useI18n.js
Due: eslint --fix

enforce file extensions now that we're using ESM
  packages/frontend/.eslintrc.json
Due: jsonlint -q

remove useGlobalState hook
  packages/backend/src/api/authRoutes.js
  packages/backend/src/api/envRoutes.js
  packages/backend/src/api/privateRoutes.js
  packages/frontend/public/components/Authorization.js
  packages/frontend/public/components/LocaleMenu.js
  packages/frontend/public/components/PageTitleContainer.js
  packages/frontend/public/components/Restricted.js
  packages/frontend/public/components/SignInForm.js
  packages/frontend/public/components/SiteMenu.js
  packages/frontend/public/pages/blog/index.js
  packages/frontend/public/types.js
  packages/frontend/public/utils/api.js
  packages/frontend/public/utils/useGlobalState.js
  packages/frontend/public/utils/useI18n.js
  packages/frontend/public/utils/useRemoteData.js
  packages/frontend/public/utils/useSession.js
  packages/frontend/public/utils/useSystemVersion.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  jsonlint -q: any of: *.json
