Repository orzechowskid/danorz.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jsonlint -q

use TS to define datatypes
  packages/frontend/index.d.ts
Due: none

use TS to define datatypes
  .lintstagedrc.json
Due: jsonlint -q

convert localstorage util to hook
  packages/frontend/public/utils/useLocalStorage.js
Due: eslint --fix

I think they're all gone now
  packages/frontend/public/components/Authorization.js
  packages/frontend/public/components/Header.module.css
  packages/frontend/public/components/PageTitleContainer.js
  packages/frontend/public/components/PrivateRoute.js
  packages/frontend/public/components/Restricted.js
  packages/frontend/public/components/SiteBanner.js
  packages/frontend/public/pages/blog/index.js
  packages/frontend/public/state/banner.js
  packages/frontend/public/utils/localStorage.js
  packages/frontend/public/utils/useRemoteData.js
  packages/frontend/public/utils/useSession.js
  packages/frontend/public/utils/useSiteBanner.js
Due: eslint --fix

fix some i18n weirdness
  packages/frontend/index.d.ts
  packages/frontend/public/components/SiteBanner.js
  packages/frontend/public/index.js
  packages/frontend/public/pages/blog/post.js
  packages/frontend/public/utils/useI18n.js
Due: eslint --fix

fix busted prototype definition
  packages/frontend/index.d.ts
Due: none

enable strict typechecking
  .lintstagedrc.json
Due: jsonlint -q

type cleanup
  packages/frontend/index.d.ts
  packages/frontend/public/utils/useRemoteData.js
Due: eslint --fix

type cleanup
  packages/frontend/index.d.ts
  packages/frontend/public/utils/useI18n.js
Due: eslint --fix

use site preferences to drive <Restricted>
  packages/backend/src/api/envRoutes.js
  packages/backend/src/db/mongo/settings.js
  packages/backend/src/db/mongo/utils.js
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/public/components/Busy.module.css
  packages/frontend/public/components/PageTitleContainer.js
  packages/frontend/public/components/PrivateRoute.js
  packages/frontend/public/components/Restricted.js
  packages/frontend/public/index.d.ts
  packages/frontend/public/index.js
  packages/frontend/public/pages/blog/components/Comments.js
  packages/frontend/public/pages/settings/components/CollapsibleSection.js
  packages/frontend/public/pages/settings/index.js
  packages/frontend/public/utils/useRemoteData.js
  packages/frontend/public/utils/useSiteSettings.js
Due: eslint --fix, jsonlint -q

set site title from site setting
  packages/frontend/public/components/Header.js
  packages/frontend/public/components/PageTitleContainer.js
  packages/frontend/public/index.d.ts
  packages/frontend/public/pages/settings/index.js
  packages/translations/src/en-US.json
Due: eslint --fix, jsonlint -q

preload session data before rendering app
  packages/frontend/public/pages/about/index.js
  packages/frontend/public/pages/about/index.module.css
  packages/frontend/public/theme.css
  packages/frontend/public/utils/api.js
  packages/frontend/public/utils/useSession.js
Due: eslint --fix

Update README.md
  README.md
Due: none

dependency bumps
  packages/frontend/index.d.ts
  packages/frontend/package-lock.json
Due: jsonlint -q

stop page from jumping around once the initial conditions are met
  packages/frontend/public/utils/usePageLoadTracker.js
Due: eslint --fix

checkpoint
  .eslintrc.json
  package-lock.json
  package.json
  packages/frontend/.eslintrc.json
  packages/frontend/.stylelintrc.json
  packages/frontend/index.d.ts
  packages/frontend/jsconfig.json
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/public/components/Busy.js
  packages/frontend/public/components/Layout.js
  packages/frontend/public/components/MarkdownPreviewPane.js
  packages/frontend/public/components/ModalDialog.js
  packages/frontend/public/components/ModalDialog.module.css
  packages/frontend/public/components/SiteBanner.js
  packages/frontend/public/components/SiteMenu.module.css
  packages/frontend/public/global.css
  packages/frontend/public/index.js
  packages/frontend/public/pages/about/index.module.css
  packages/frontend/public/pages/blog/components/AddCommentDialog.js
  packages/frontend/public/pages/blog/components/AddCommentDialog.module.css
  packages/frontend/public/pages/blog/components/Comments.js
  packages/frontend/public/pages/blog/post.js
  packages/frontend/public/pages/home/index.js
  packages/frontend/public/theme.css
  packages/frontend/public/utils/useAnimateElement.js
  packages/frontend/public/utils/useI18n.js
  packages/frontend/public/utils/useRemoteData.js
  packages/frontend/public/utils/useToggle.js
  packages/frontend/tsconfig.json
  packages/translations/src/en-US.json
Due: eslint --fix, jsonlint -q

add comments to blog
  .eslintrc.json
  package-lock.json
  packages/backend/.eslintrc.json
  packages/backend/package-lock.json
  packages/backend/package.json
  packages/backend/src/api/blogRoutes.js
  packages/backend/src/api/oauthRoutes.js
  packages/backend/src/db/mongo/comments.js
  packages/backend/src/db/mongo/index.js
  packages/backend/src/db/mongo/posts.js
  packages/backend/src/types.js
  packages/frontend/.eslintrc.json
  packages/frontend/.stylelintrc.json
  packages/frontend/package-lock.json
  packages/frontend/public/components/Footer.js
  packages/frontend/public/components/LinkButton.module.css
  packages/frontend/public/components/MarkdownPreviewPane.js
  packages/frontend/public/components/PageTitleContainer.module.css
  packages/frontend/public/global.css
  packages/frontend/public/index.js
  packages/frontend/public/pages/about/index.js
  packages/frontend/public/pages/blog/components/AddCommentDialog.js
  packages/frontend/public/pages/blog/components/AddCommentDialog.module.css
  packages/frontend/public/pages/blog/components/Comments.js
  packages/frontend/public/pages/blog/components/Comments.module.css
  packages/frontend/public/pages/blog/post.js
  packages/frontend/public/pages/blog/types.js
  packages/frontend/public/pages/blog/utils/useBlogPost.js
  packages/frontend/public/pages/blog/utils/useBlogPostComments.js
  packages/frontend/public/t.d.ts
  packages/frontend/public/theme.css
  packages/frontend/public/utils/helpers.js
  packages/frontend/public/utils/useAnimateElement.js
  packages/frontend/public/utils/useRemoteData.js
  packages/frontend/public/utils/useSession.js
  packages/translations/src/en-US.json
Due: eslint --fix, jsonlint -q

header link
  packages/frontend/public/components/Busy.js
  packages/frontend/public/components/Header.js
  packages/frontend/public/components/Header.module.css
  packages/frontend/public/pages/blog/index.js
Due: eslint --fix

make linters happy
  packages/backend/src/db/mongo/posts.js
  packages/frontend/jsconfig.json
  packages/frontend/public/components/Input.js
  packages/frontend/public/components/LinkButton.js
  packages/frontend/public/components/LinkPreview.js
  packages/frontend/public/components/LocaleMenu.js
  packages/frontend/public/components/Markdown.js
  packages/frontend/public/components/SignInForm.js
  packages/frontend/public/components/SiteMenu.js
  packages/frontend/public/components/inputs/RadioButton.js
  packages/frontend/public/index.js
  packages/frontend/public/pages/blog/components/Byline.js
  packages/frontend/public/pages/blog/components/EditPostDialog.js
  packages/frontend/public/pages/blog/components/EditPostDialog.module.css
  packages/frontend/public/pages/blog/components/Feed.js
  packages/frontend/public/pages/blog/components/SinglePost.js
  packages/frontend/public/pages/blog/index.js
  packages/frontend/public/pages/blog/post.js
  packages/frontend/public/pages/blog/utils/useBlogPost.js
  packages/frontend/public/pages/blog/utils/useBlogPostComments.js
  packages/frontend/public/pages/me/components/Feed.js
  packages/frontend/public/pages/me/index.js
  packages/frontend/public/pages/settings/index.js
  packages/frontend/public/state/globalState.js
  packages/frontend/public/state/session.js
  packages/frontend/public/state/settings.js
  packages/frontend/public/t.d.ts
  packages/frontend/public/types.js
  packages/frontend/public/utils/analytics.js
  packages/frontend/public/utils/api.js
  packages/frontend/public/utils/useLocalStorage.js
  packages/frontend/public/utils/useRemoteData.js
  packages/frontend/public/utils/useSession.js
  packages/translations/src/en-US.json
Due: eslint --fix, jsonlint -q

set up fake CA
  tools/fake-ca/README.md
  tools/fake-ca/domains/local.host/local.host.crt
  tools/fake-ca/domains/local.host/local.host.csr
  tools/fake-ca/domains/local.host/local.host.key
  tools/fake-ca/domains/local.host/local.host.req.config
  tools/fake-ca/myCA.key
  tools/fake-ca/myCA.pem
  tools/fake-ca/myCA.srl
Due: none

support https during development
  README.md
  docker-compose.yml
  tools/README.md
  tools/gateway/Dockerfile
  tools/gateway/nginx.conf
Due: none

fix docker-compose.yml version number
  docker-compose.yml
Due: none

describe why
  GOTCHAS.md
Due: none

-console.log
  packages/frontend/jsconfig.json
  packages/frontend/public/components/Busy.js
  packages/frontend/public/index.js
  packages/frontend/public/t.d.ts
Due: eslint --fix, jsonlint -q

phone home upon app error
  packages/frontend/public/index.js
  packages/frontend/public/t.d.ts
  packages/frontend/public/utils/usePageLoadTracker.js
  packages/frontend/public/utils/useSession.js
Due: eslint --fix

cleanup
  packages/frontend/public/index.js
Due: eslint --fix

fix property access of remote resource
  packages/frontend/public/components/LinkPreview.js
  packages/frontend/public/pages/about/index.js
Due: eslint --fix

public homepage
  packages/frontend/public/components/Busy.js
  packages/frontend/public/components/Markdown.js
  packages/frontend/public/pages/home/components/PublicHome.js
  packages/frontend/public/pages/home/index.js
  packages/frontend/public/utils/usePageTitle.js
  packages/translations/src/en-US.json
Due: eslint --fix, jsonlint -q

cleanup
  packages/frontend/public/pages/home/index.js
Due: eslint --fix

upgrade backend to node 16
  docker-compose.yml
  packages/backend/Dockerfile
  packages/backend/package.json
  tools/gateway/Dockerfile
  tools/gateway/nginx.conf
  up.sh
Due: jsonlint -q

fix default shell-script args
  up.sh
Due: none

add some missing config to re-enable HMR
  tools/gateway/nginx.conf
Due: none

go all-in on react-aria for dialogs
  packages/frontend/public/components/Header.module.css
  packages/frontend/public/components/Input.js
  packages/frontend/public/components/ModalDialog.js
  packages/frontend/public/components/ModalDialog.module.css
  packages/frontend/public/components/SignInForm.js
  packages/frontend/public/components/SiteMenu.js
  packages/frontend/public/index.js
  packages/frontend/public/t.d.ts
  packages/frontend/public/theme.css
Due: eslint --fix

checkpoint
  packages/frontend/public/components/ModalDialog.js
  packages/frontend/public/components/ModalDialog.module.css
  packages/frontend/public/components/SiteMenu.js
  packages/frontend/public/theme.css
Due: eslint --fix

add typings to remote-data hooks
  packages/frontend/public/@types/react.d.ts
  packages/frontend/public/pages/about/index.js
  packages/frontend/public/t.d.ts
  packages/frontend/public/utils/api.js
  packages/frontend/public/utils/useRemoteData.js
  packages/frontend/public/utils/useSession.js
  packages/frontend/tsconfig.json
Due: eslint --fix, jsonlint -q

add typings to remote-data hooks
  packages/frontend/public/@types/react.d.ts
Due: none

more fixes
  packages/frontend/public/components/SiteMenu.module.css
  packages/frontend/public/utils/useAnimateElement.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  jsonlint -q: any of: *.json
